[submodule "ansible/roles/ansible-users"]
	path = ansible/roles/ansible-users
	url = git@github.com:singleplatform-eng/ansible-users.git
[submodule "ansible/roles/ansible-ssh-hardening"]
	path = ansible/roles/ansible-ssh-hardening
	url = git@github.com:dev-sec/ansible-ssh-hardening.git
[submodule "ansible/roles/ansible-os-hardening"]
	path = ansible/roles/ansible-os-hardening
	url = git@github.com:dev-sec/ansible-os-hardening.git
[submodule "ansible/roles/ansible-nginx"]
	path = ansible/roles/ansible-nginx
	url = git@github.com:nickjj/ansible-nginx.git
[submodule "ansible/roles/ansible-letsencrypt"]
	path = ansible/roles/ansible-letsencrypt
	url = git@github.com:nickjj/ansible-letsencrypt.git
[submodule "web/themes/pelican-themes"]
	path = web/pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
